#home_sorting_view {
  display: flex;
  flex-direction: column;
  
}
#container {
  width: 95%;
  min-height: 720px;
  margin: auto;
  background-color: rgb(52, 56, 108);
  color: lightgray !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: linear-gradient(180deg, rgb(20, 15, 55), rgb(47, 67, 100));
}
#home_flex_cover{
  align-items: flex-start !important;
  min-height: 410px;
}
body {
  /* background-color: rgb(149, 155, 230); */
  background-image: linear-gradient(180deg, rgb(20, 15, 55), rgb(47, 67, 100));
}
.filter_head {
  padding: 0px;
  margin: 0px;
 
}
hr{
    border: solid lightgray 5px;
}

#User_Display {
  border: solid #a8a8ef 1px;
  margin-top: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}
#home_bottom {
  margin-top: 20px;
  border: solid #0c0c35 1px;
}
#home_bottom button{
  margin: 0 10px 0 10px;
  padding: 0px;
  height: 30px;
  width: 50px;
}
#sel-back {
  background-color: rgb(47, 67, 100);
  color: gray;
}


#to_admin{
  position: fixed;
  right: 10px;
  bottom: 10px;
}
